body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif; }

p {
  margin: 0;
  padding: 0; }

p, img, h1, h2, h3, h4, h5, h6, .RegularButton {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  cursor: default !important; }

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center; }
  .wrapper .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -2rem;
    justify-content: center;
    /*         .Heading 
        {
            width: 60%;
            text-align: center;
            margin-bottom: 2rem;
        } */ }
  @media only screen and (max-width: 768px) {
    .wrapper {
      width: 95%; } }
  @media only screen and (min-width: 768px) {
    .wrapper {
      width: 90%; } }
  @media only screen and (min-width: 992px) {
    .wrapper {
      width: 992px; } }
  @media only screen and (min-width: 1200px) {
    .wrapper {
      width: 1200px; } }

@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto-Regular.ttg");
  src: url("/fonts/Roboto-Regular.ttf") format("truetype"); }

.RegularButtonLink {
  text-decoration: none; }

.flex {
  display: flex; }

.flex-col {
  flex-direction: column; }

.justify-center {
  justify-content: center; }

.justify-between {
  justify-content: space-between; }

.items-center {
  align-items: center; }

.items-end {
  align-items: flex-end; }

.m-0 {
  margin: 0 !important; }

.mr-2 {
  margin-right: 0.5rem; }

.mt-2 {
  margin-top: 0.5rem; }

.mt-4 {
  margin-top: 1rem; }

.mr-4 {
  margin-right: 1rem; }

.mt-8 {
  margin-top: 2rem; }

.mt-16 {
  margin-top: 4rem; }

.mr-16 {
  margin-right: 4rem; }

.h-30 {
  min-height: 35vh; }

.button-none {
  border: none;
  padding: 0; }

.StartPage {
  width: 100%; }

.PreviewPage {
  width: 100vw;
  height: 100vh;
  overflow: hidden !important; }
  .PreviewPage .css-0 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center; }

.ReviewPage .img_container {
  max-width: 100vw;
  overflow: hidden;
  max-height: 100vh;
  margin-bottom: -2rem; }
  .ReviewPage .img_container img {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.ReviewPage .button_container {
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.ReviewPage .RegularButton h1 {
  margin: 0; }

.SelectAlbumPage .albumOverview {
  border: 1px solid #00A685;
  width: 100%;
  border-radius: 10px;
  width: 40rem; }
  .SelectAlbumPage .albumOverview form {
    width: 100%;
    background-color: #00A685;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
    .SelectAlbumPage .albumOverview form input {
      height: 3rem;
      width: 100%;
      margin: 1rem;
      border: none;
      padding: 0 1rem;
      font-size: 18px;
      border-radius: 10px; }
    .SelectAlbumPage .albumOverview form button {
      background-color: #000;
      color: #fff;
      border: none;
      border-top-right-radius: 10px;
      padding: 0 1rem;
      font-size: 18px;
      width: 10rem;
      transition: all 150ms ease-in-out;
      font-size: 14px;
      font-weight: bold; }
      .SelectAlbumPage .albumOverview form button:hover {
        background-color: #292929;
        cursor: pointer; }

.SelectAlbumPage .albums {
  height: 15rem;
  overflow-y: scroll;
  scroll-behavior: auto;
  padding: 1rem;
  flex-wrap: wrap;
  display: flex; }
  .SelectAlbumPage .albums.one-item .SingleAlbum {
    width: 100%; }

.simple-keyboard {
  position: fixed;
  bottom: 0;
  z-index: 99;
  background-color: #fff; }

.emailInputField {
  margin-top: 130px; }

.emailInputField input {
  width: 30%;
  height: 50px;
  padding: 10px 20px;
  margin-left: 50px;
  font-size: 20px;
  border: solid 2px #000;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none; }

.emailInputField > div {
  margin-top: 20px; }

#email5 {
  display: flex; }

.addButton {
  margin-left: 20px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none; }

#email5 input, #email5 .addButton {
  flex-direction: row; }

.addButton img {
  width: 50px;
  height: 50px; }

#email3, #email4 {
  display: none; }

.FinalPage {
  height: 100vh !important; }
  .FinalPage .flex_container {
    display: flex; }
  .FinalPage .left {
    justify-content: start !important; }
    .FinalPage .left h1 {
      margin-bottom: 2rem; }
  .FinalPage .left, .FinalPage .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
  .FinalPage form {
    width: 90%; }
    .FinalPage form input, .FinalPage form button {
      width: 100%;
      box-sizing: border-box;
      font-size: 1rem; }
    .FinalPage form input {
      border: 2px solid #000;
      padding: 1rem 1.5rem;
      font-size: 1rem;
      z-index: 98 !important; }
      .FinalPage form input.error {
        border: 2px solid red; }
    .FinalPage form label {
      color: red;
      font-size: 12px;
      margin: 0.3rem 0 0 0.2rem; }
    .FinalPage form .buttons {
      margin: 0 -0.5rem; }
    .FinalPage form button {
      border: 2px solid #00A685;
      color: #fff;
      padding: 1rem;
      background-color: #00A685;
      margin: 1rem 0 0 0;
      width: 100%;
      transition: all 200ms ease-in-out 1s; }
      .FinalPage form button:hover {
        cursor: pointer; }

.RegularButton {
  background-color: #F56565;
  border-radius: 200rem;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff; }
  .RegularButton img {
    width: 60%; }
  .RegularButton a {
    text-decoration: none; }
  .RegularButton:hover {
    cursor: pointer; }
  .RegularButton.small {
    width: 120px;
    height: 120px; }
    .RegularButton.small img {
      width: 70%; }
  .RegularButton.large {
    width: 250px;
    height: 250px; }

.CaptureButton {
  position: absolute;
  background-color: #ac5a96;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  margin: 0 auto 30px auto;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: none;
  font-size: 3rem;
  transition: all 150ms ease-in-out;
  outline: none; }
  .CaptureButton:hover {
    cursor: pointer; }
  .CaptureButton.clicked {
    margin-bottom: -300px; }

.Heading {
  margin: 0 0 32px 0;
  text-align: center;
  font-family: Roboto;
  font-weight: 500; }
  .Heading.heading--0 {
    font-size: 88px; }
  .Heading.heading--1 {
    font-size: 60px; }
  .Heading.heading--2 {
    font-size: 50px; }
  .Heading.heading--3 {
    font-size: 45px; }
  .Heading.heading--4 {
    font-size: 18px; }

.Countdown {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .Countdown h1 {
    color: #fff;
    font-size: 12rem; }

.Polaroid {
  display: inline-block;
  line-height: 0;
  border-radius: 3px;
  padding: 25px;
  -webkit-box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.3); }
  .Polaroid img {
    width: 20rem; }
  .Polaroid h3 {
    color: #8460AC;
    font-size: 30px;
    font-weight: lighter; }
  .Polaroid p {
    font-size: 20px; }
  .Polaroid .logo {
    width: 175px;
    margin-top: 50px; }

.SingleAlbum {
  padding: 1rem 0 0 0;
  margin: 1rem;
  width: calc(50% - 2rem);
  -webkit-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .SingleAlbum h3 {
    margin: 0 0 1rem 0;
    padding: 0 1.5rem; }
  .SingleAlbum button {
    width: 100%;
    border: none;
    background-color: #00A685;
    color: #fff;
    padding: 1rem;
    margin-top: 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    transition: all 150ms ease-in-out;
    cursor: pointer; }
    .SingleAlbum button:hover {
      background-color: #00735c; }
