body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif; }

p {
  margin: 0;
  padding: 0; }

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 0 auto; }
  @media only screen and (max-width: 768px) {
    .wrapper {
      width: 95%; } }
  @media only screen and (min-width: 768px) {
    .wrapper {
      width: 90%; } }
  @media only screen and (min-width: 992px) {
    .wrapper {
      width: 992px; } }
  @media only screen and (min-width: 1200px) {
    .wrapper {
      width: 1200px; } }

.App .triangles {
  width: 100%;
  height: 100%; }

.App .triangles img {
  position: absolute; }

.App .triangles .t0 {
  width: 422px;
  top: 0;
  left: 0; }

.App .triangles .t1 {
  width: 150px;
  top: 0;
  right: 0; }

.App .triangles .t2 {
  width: 294px;
  bottom: 0;
  right: 0; }

.App .triangles .t3 {
  width: 50px;
  bottom: 0;
  left: 0; }

.RegularButtonLink {
  text-decoration: none; }

.StartPage {
  width: 100%; }

.StartPage .left, .StartPage .right {
  width: 50%;
  display: flex; }

.StartPage .left {
  padding-bottom: 20rem;
  justify-content: flex-start;
  padding-left: 5rem;
  width: calc(50% - 5rem); }

.StartPage .right {
  justify-content: flex-start; }

.StartPage .RegularButton {
  margin-left: -200px; }

.PreviewPage {
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.PreviewPage video {
  object-fit: cover; }

.RegularButton {
  background-color: #00A685;
  border-radius: 200rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff; }

.RegularButton img {
  width: 35%; }

.RegularButton a {
  text-decoration: none; }

.RegularButton:hover {
  cursor: pointer; }

.RegularButton.small {
  width: 180px;
  height: 180px; }

.RegularButton.small h3 {
  margin-top: 3rem; }

.RegularButton.large {
  width: 400px;
  height: 400px; }

.RegularButton.large h3 {
  margin-top: 1.4rem;
  font-size: 1.4rem; }

.CaptureButton {
  position: absolute;
  background-color: red;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  margin: 0 auto 30px auto;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: none;
  font-size: 4rem; }
  .CaptureButton:hover {
    cursor: pointer; }

.Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 5rem;
  padding-bottom: 1rem; }

.Footer img {
  width: 17rem;
  padding-bottom: 1rem; }

.Heading .heading--0 {
  font-size: 78px; }

.Heading .heading--1 {
  font-size: 60px; }

.Heading .heading--2 {
  font-size: 50px; }

.Heading .heading--3 {
  font-size: 45px; }

.Countdown {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .Countdown h1 {
    color: #fff;
    font-size: 12rem; }

.Polaroid {
  display: inline-block;
  line-height: 0;
  border-radius: 3px;
  padding: 25px;
  -webkit-box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.3); }
  .Polaroid img {
    width: 20rem; }
  .Polaroid h3 {
    color: #8460AC;
    font-size: 30px;
    font-weight: lighter; }
  .Polaroid p {
    font-size: 20px; }
  .Polaroid .logo {
    width: 175px;
    margin-top: 50px; }
