.flex {
  display: flex; }

.justify-center {
  justify-content: center; }

.items-center {
  align-items: center; }

.mr-2 {
  margin-right: 0.5rem; }

.mt-2 {
  margin-top: 0.5rem; }

.mt-4 {
  margin-top: 1rem; }

.mt-8 {
  margin-top: 2rem; }

.mt-16 {
  margin-top: 4rem; }
