body, html 
{
    margin: 0; padding: 0; font-family: 'Arial', sans-serif;
}

p 
{
    margin: 0; padding: 0;
}

.wrapper 
{
    height: 100vh; 
    display: flex; 
    align-items: center; 
    margin: 0 auto;
    justify-content: center;

    .content 
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: -2rem;
        justify-content: center;

/*         .Heading 
        {
            width: 60%;
            text-align: center;
            margin-bottom: 2rem;
        } */
    }

    // Phone
    @media only screen and (max-width: 768px) 
    {
        width: 95%;
    }

    // Tablet
    @media only screen and (min-width: 768px) 
    {
        width: 90%;
    }

    // Desktop
    @media only screen and (min-width: 992px) 
    {
        width: 992px;
    }

    // Large desktop
    @media only screen and (min-width: 1200px) 
    {
        width: 1200px;
    }
}