.Polaroid 
{
    // border: 1px solid #000;
    display: inline-block;
    line-height: 0;
    border-radius: 3px;
    padding: 25px;
    -webkit-box-shadow: 0px 4px 19px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 4px 19px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 4px 19px 0px rgba(0,0,0,0.3);

    img 
    {
        width: 20rem;
    }

    h3 
    {
        color: #8460AC;
        font-size: 30px;
        font-weight: lighter;
    }

    p 
    {
        font-size: 20px;
    }

    .logo
    {
        width: 175px;
        margin-top: 50px;
    }
}