.RegularButton 
{
    background-color: #00A685; 
    border-radius: 200rem; 
    border: none;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    color: #fff; 

    img 
    { 
        width: 50%;
    }

    a 
    { 
        text-decoration: none; 
    }

    &:hover 
    { 
        cursor: pointer; 
    }

    &.small
    {
        width: 180px; 
        height: 180px;
    }

    &.large 
    {
        width: 400px; 
        height: 400px;
    }
}