@import 'variables';

.RegularButton 
{
    background-color: $color-s; 
    border-radius: 200rem; 
    border: none;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    color: #fff; 

    img 
    { 
        width: 60%;
    }

    a 
    { 
        text-decoration: none; 
    }

    &:hover 
    { 
        cursor: pointer; 
    }

    &.small
    {
        width: 180px; 
        height: 180px;
    }

    &.large 
    {
        width: 250px; 
        height: 250px;
    }
}