.ReviewPage 
{
    height: 100vh;

    .buttons 
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 1.5rem;
        width: 60%;

        .RegularButton 
        {
            margin: 2rem 0 0 0;
        }
    }
}