.ReviewPage 
{

    .img_container 
    {
        width: 100vw;
        height: 100vh;
    }

    img 
    {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .button_container 
    {
        position: absolute;
        margin: auto;
        bottom: 0;
        margin-bottom: 2rem;
    }
}