.ReviewPage 
{

    .img_container 
    {
        width: 100vw;
        overflow: hidden;
        height: 100vh;
        margin-bottom: -2rem;

        img 
        {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .button_container 
    {
        position: absolute;
        margin: auto;
        bottom: 0;
        left: 0;
        right: 0;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .RegularButton 
    {
        h1
        {
            margin: 0;
        }
    }
}