.StartPage 
{
    & { width: 100%; }

    .left, .right { width: 50%; display: flex; }

    .left { padding-bottom: 20rem; justify-content: flex-start; padding-left: 5rem; width: calc(50% - 5rem); }

    .right { justify-content: flex-start; }

    .RegularButton { margin-left: -200px; }
}